<footer>
    <h2>&copy; 2023 Riki's WatchList</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/views/stock-index.ejs">Watchlist</a></li>
            <li><a href="#">My Applications</a></li>
        </ul>
    </nav>
</footer>
