<header>
    <h1>Riki's WatchList</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/stocks">Watchlist</a></li>
            <li><a href="#">My Applications</a></li>
        </ul>
    </nav>
</header>
