<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About The WatchList`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>Welcome to our stock watchlist website! We are a team of finance enthusiasts who believe that everyone should have access to the information they need to make informed investment decisions.</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>Our mission is to provide a user-friendly platform that enables you to track the stocks that matter to you, from any device, anywhere in the world. Our watchlist features real-time data on a wide range of stocks, including the latest market news, price changes, and analysis.</p>
            <p>At our core, we are committed to helping you stay ahead of the game by providing timely and accurate information that can help you make smarter investment decisions. We are dedicated to creating a community of informed investors who share insights and learn from one another.</p>
            <p>We understand that investing can be complicated, but it doesn't have to be. That's why we've designed our website to be intuitive and easy to use, even for those who are new to the world of stocks. Our team is always available to answer any questions you may have and help you navigate the site.</p>
            <p>Thank you for choosing our stock watchlist website. We look forward to helping you achieve your investment goals.</p>
            <h2>Our Values</h2>
            <ul>
                <li>Transparency: We believe in being transparent with our users, and we strive to provide accurate and up-to-date information that is free from bias.</li>
                <li>Accessibility: We are committed to making our website accessible to all users, regardless of their level of experience or financial background.
                </li>
                <li>User-Centricity: Our users are at the center of everything we do. We aim to create a platform that meets their needs and provides them with the tools they need to succeed.
                </li>
                <li>Innovation: We are constantly looking for new ways to improve our website and provide our users with the best possible experience.
                </li>
                <li>Collaboration: We believe in the power of collaboration and seek to build a community of informed investors who share their insights and learn from one another.</li>
                <li>Trust: We understand that trust is essential in the world of finance, and we are committed to building and maintaining the trust of our users.</li>
                <p id="value-statement">By upholding these values, we aim to provide our users with a platform that is not only informative and useful but also ethical and trustworthy. We are proud to be a part of the global finance community and strive to make a positive impact in everything we do.</p>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
